[{:query  (param  {:name "name"  :searchType "string"} {:value "ivan"})
  :result (param  {:name "name"  :searchType "string"  :operator "sw"} {:value "ivan"})}

 {:query  (param  {:name "name"  :searchType "string"  modifier: "contains"} {:value "ivan"})
  :result (param  {:name "name"  :searchType "string"  :operator "co"} {:value "ivan"})}

 {:query  (param  {:name "name"  :searchType "string"  modifier: "exact"} {:value  "ivan"})
  :result (param  {:name "name"  :searchType "string"  :operator "eq"} {:value  "ivan"})}

 {:query  (param  {:name "age"  :searchType "number"} {:value  100})
  :result (param  {:name "age"  :searchType "number"  :operator "eq"} {:value  100})}

 {:query  (param  {:name "age"  :searchType "number"} {:value 10 :prefix "lt"})
  :result (param  {:name "age"  :searchType "number"  :operator "lt"} {:value 10})}

 {:query  (param  {:name "age"  :searchType "number"} {:value 10 :prefix "le"})
  :result (param  {:name "age"  :searchType "number"  :operator "le"} {:value 10})}

 {:query  (param  {:name "age"  :searchType "number"} {:value 10 :prefix "gt"})
  :result (param  {:name "age"  :searchType "number"  :operator "gt"} {:value 10})}

 {:query  (param  {:name "age"  :searchType "number"} {:value 10 :prefix "ge"})
  :result (param  {:name "age"  :searchType "number"  :operator "ge"} {:value 10})}

 {:query  (param  {:name "age"  :searchType "number"} {:value 10 :prefix "ne"})
  :result (param  {:name "age"  :searchType "number"  :operator "ne"} {:value 10})}

 {:query  (param  {:name "birthday"  :searchType "date"} {:value "1980"})
  :result (param  {:name "birthday"  :searchType "date"  :operator "eq"} {:value "1980"})}

 {:query  (param  {:name "birthday"  :searchType "date" } {:value "1980" :prefix "eq"})
  :result (param  {:name "birthday"  :searchType "date"  :operator "eq"} {:value "1980"})}

 {:query  (param  {:name "birthday"  :searchType "date" } {:value "1980" :prefix "lt"})
  :result (param  {:name "birthday"  :searchType "date" :operator "lt"} {:value "1980"})}

 {:query  (param  {:name "birthday"  :searchType "date"} {:value "1980" :prefix "gt"})
  :result (param  {:name "birthday"  :searchType "date"  :operator "gt"} {:value "1980"})}

 {:query  (param  {:name "birthday"  :searchType "date"} {:value "1980" :prefix "le"})
  :result (param  {:name "birthday"  :searchType "date"  :operator "le"} {:value "1980"})}

 {:query  (param  {:name "birthday"  :searchType "date"} {:value "1980"  :prefix "ge"})
  :result (param  {:name "birthday"  :searchType "date"  :operator "ge"} {:value "1980"})}

 {:query  (param  {:name "birthday"  :searchType "date"} {:value "1980"  :prefix "ne"})
  :result (param  {:name "birthday"  :searchType "date"  :operator "ne"} {:value "1980"})}

 {:query  (param  {:name "active"  :searchType "token"} {:value "code"})
  :result (param  {:name "active"  :searchType "token"  :operator "eq"} {:value "code"})}]
