Host github_fhirbase_plv8
HostName github.com
IdentityFile ~/.ssh/fhirbase_performance_benchmark.pem
User git

Host github_fhirbase_documentation
HostName github.com
IdentityFile ~/.ssh/fhirbase_performance_documentation
User git
